{% extends '::base.html.twig' %}

{% block header %}
    <nav id="header">
        <div class="wrapper">
            <div id="logo">
                <h1><a href="{{ path('projet_photo_homepage') }}"><span>Cyclo</span>Photos</a></h1>
            </div>
            <ul>
                {% if app.session.get('participation') is null %}
                    <li><a href="{{ path('projet_photo_connect') }}">Connexion</a></li>
                {% else %}
                    <li><a href="{{ path('projet_photo_myphotos') }}">Mes Photos</a></li>
                    <li><a href="{{ path('projet_photo_panier') }}"><i class="fa fa-shopping-cart"></i>
                            Panier{% if app.session.get('panier').photos|length > 0 %} ( {{ app.session.get('panier').photos|length }} ){% endif %}
                        </a></li>
                    <li><a href="{{ path('projet_photo_disconnect') }}">Deconnexion</a></li>
                {% endif %}
            </ul>
            <select id="mobilenav" name="url">
                <option>Menu</option>
                <option value="{{ path('projet_photo_homepage') }}">Accueil</option>
                {% if app.session.get('participation') is null %}
                    <option value="{{ path('projet_photo_connect') }}">Connexion</option>
                {% else %}
                    <option value="{{ path('projet_photo_myphotos') }}">Mes Photos</option>
                    <option value="{{ path('projet_photo_homepage') }}">
                        Panier{% if app.session.get('panier').photos|length > 0 %} ( {{ app.session.get('panier').photos|length }} ){% endif %}</option>
                    <option value="{{ path('projet_photo_disconnect') }}">Deconnexion</option>
                {% endif %}

            </select>
        </div>
    </nav>
    {% block main_title  %}
    <header class="prime">
        <div class="wrapper">
            <div id="title">
                <h1>Gardez un souvenir de vos courses</h1>

                <h2>Vos photos se trouvent ici !</h2>
            </div>
        </div>
    </header>
    {% endblock %}


    {% block content %} {% endblock %}
{% endblock %}