{% extends '::header.html.twig' %}

{% block content %}
    <div id="content">
        <div class="wrapper">
            <div class="blockEntete">
                <p> Votre panier contient {{ panier.nombreProduit }} produit</p>
            </div>
            <div class="blockProduits">
                {% set cpt = 0 %}
                {% for produit in panier.produits %}
                    <div class="blockProduit">
                        {% set cpt = cpt+1 %}
                        <img src="{{ produit.lienImage }}" class="imageProduit"/>

                        <p class="nomProduit">{{ produit.nom }}</p>

                        <p class="prixProduit">{{ produit.prix }}</p>
                        <img src="{{ asset('bundles/projetphotocyclophoto/images/suprimer.gif') }}"
                             class="boutonSupprimer"/>
                    </div>
                    {% if cpt < panier.nombreProduit %}
                        <div class="delimiteur"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="blockTotal">
                <p class="textePrixTotal"> Total : {{ panier.prixTotal }}€ </p>

                <div class="boutonPasserCommande"> Passer Commande</div>
            </div>
        </div>
    </div>
{% endblock %}