{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Course</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nomcourse</th>
            <td>{{ entity.nomCourse }}</td>
        </tr>
        <tr>
            <th>Prixphotottc</th>
            <td>{{ entity.prixPhotoTTC }}</td>
        </tr>
        <tr>
            <th>Datecourse</th>
            <td>{{ entity.dateCourse|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_course') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('admin_course_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
