{% extends '::header.html.twig' %}
{% block title %}{{ parent() }} - Vos photos{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title"><i class="fa fa-photo"></i> Vos photos disponibles</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="wrapper">
            <h1>Photos de {{ participation.personne.prenom|title }} de la course "{{ participation.course.nomCourse }}
                "</h1>

            <p>Le {{ participation.course.dateCourse|date('d/m/Y') }}</p>
            <div class="photos">
                {% for photo in participation.course.photos %}
                    {% if photo.personne == participation.personne %}
                    <div class="photo">
                        <a href="#"><img src="{{ (photo.id~'.jpg') | imagine_filter('my_thumb') }}"></a>
                        {% if app.session.get('panier').isBought(photo.id) == false %}
                            <div class="add"><a href="{{ path('projet_photo_ajouter_panier',{'id':photo.id}) }}">Ajouter
                                    au panier ({{ participation.course.prixPhotoTTC }}€)</a></div>
                        {% else %}
                            <div class="add">Déjà dans le panier</div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}