{% extends '::header.html.twig' %}
{% block title %}{{ parent() }} - Votre panier{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title"><i class="fa fa-shopping-cart"></i> Votre Panier</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="wrapper">
            {% if panier.photos|length > 0 %}
            <div class="carthead">
                    <p> Votre panier contient {{ panier.photos|length }} produit</p>
                </div>
            <table style="width:100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for photo in panier.photos %}
                        <tr>
                            <td>
                                <img src="http://lorempicsum.com/simpsons/250/200/1" class="imageProduit"/>
                            </td>
                            <td>{{ photo.course.nomCourse }}</td>

                            <td>{{ photo.course.prixPhotoTTC }}€</td>
                            <td><img src="{{ asset('bundles/projetphoto/images/suprimer.gif') }}"/></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><strong>Total : <span
                                        style="font-size:1.2em;">{{ panier.photos[0].course.prixPhotoTTC*panier.photos|length }}
                                    €</span></strong></td>
                    </tr>
                </tbody>
            </table>

            <button> Passer Commande</button>
            </div>
            {% else %}
                <p>Votre panier est vide</p>
            {% endif %}

        </div>
    </div>
{% endblock %}