{% extends '::header.html.twig' %}
{% block title %}{{ parent() }} - Votre panier{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title"><i class="fa fa-shopping-cart"></i> Votre Panier</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="wrapper">
            {% if panier is not null %}
                <div class="blockEntete">
                    <p> Votre panier contient {{ panier.photos|length }} produit</p>
                </div>

                <div class="blockProduits">
                    {% for photo in panier.photos %}
                    <div class="blockProduit">
                        <img src="http://lorempicsum.com/simpsons/250/200/1" class="imageProduit"/>

                        <p class="nomProduit">{{ photo.course.nomCourse }}</p>

                        <p class="prixProduit">{{ photo.course.prixPhotoTTC }}€</p>
                        <img src="{{ asset('bundles/projetphoto/images/suprimer.gif') }}"
                             class="boutonSupprimer"/>
                    </div>
                        <div class="delimiteur"></div>
                {% endfor %}
            </div>
            <div class="blockTotal">
                <p class="textePrixTotal"> Total : {{ panier.photos[0].course.prixPhotoTTC*panier.photos|length }}€ </p>

                <div class="boutonPasserCommande"> Passer Commande</div>
            </div>
            {% else %}
                <p>Votre panier est vide</p>
            {% endif %}

        </div>
    </div>
{% endblock %}