{% extends '::header.html.twig' %}
{% block title %}{{ parent() }} - Votre panier{% endblock %}
{% block main_title %}
    <header>
        <div class="wrapper">
            <h1 class="title"><i class="fa fa-shopping-cart"></i> Votre Panier</h1>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="wrapper">
            {% if panier.photos|length > 0 %}
            <div class="carthead">
                <h1> Votre panier contient {{ panier.photos|length }} produit</h1>
                </div>
            <table style="width:100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for photo in panier.photos %}
                        <tr>
                            <td>
                                <img src="{{ (photo.id~'.jpg') | imagine_filter('my_thumb') }}" class="imageProduit"/>
                            </td>
                            <td>{{ photo.course.nomCourse }}</td>

                            <td>{{ photo.course.prixPhotoTTC }}€</td>
                            <td><a href="{{ path('projet_photo_panier_delete',{id: photo.id}) }}"><img
                                            src="{{ asset('bundles/projetphoto/images/suprimer.gif') }}"/></a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><strong>Total : <span
                                        style="font-size:1.2em;">{{ panier.photos[0].course.prixPhotoTTC*panier.photos|length }}
                                    €</span></strong></td>
                    </tr>
                </tbody>
            </table>

            <a class="button" href="{{ path('projet_photo_panier_valide') }}">Passer Commande</a>

        </div>
            {% else %}
                <p>Votre panier est vide</p>
            {% endif %}

        </div>
    </div>
{% endblock %}